flask==2.3.3               # Framework web para criar a API
opencv-python-headless==4.8.1.78  # Para manipulação de imagens (versão sem interface gráfica)
numpy==1.26.0              # Biblioteca para cálculos numéricos
